.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
*.vsix
.history
.ionide
.vscode/*.code-snippets
*.code-workspace
src/configs/config.ts
/node_modules
/dist
.env
package-lock.json
pnpm-lock.yaml
yarn.lock
.vscode
.idea
.DS_Store
